doctype html 

html(lang="en-US")
  head 
    meta(charset="UTF-8")
    title EndPntr 

  body 
    header 
      h1 EndPntr
      block requestList

      block content 
        section
          p Welcome to EndPntr! 
          p The button below will create an endpoint for you to attach a webhook to.
          p "Endpoints" are just URLs that can be used to send notifications to. 
          p A "webhook" is ....

      block makeEndpoint
        form(action="/createEndpoint" method="post")
          button Make New Endpoint